@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-white text-black dark:bg-black dark:text-neutral-50;
		color-scheme: dark light;
		accent-color: theme(colors.pink.500);
	}

	:focus-visible {
		@apply focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-pink-500;
	}

	* {
		min-width: 0;
		min-height: 0;
	}
}
